/*Global Styles*/

.flex-container {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

/*End Global Styles*/

.screen-background {
  background-color: #aaa;
  height: 720px;
}

.bluesquare-background {
  background-color: #7986b9;
  height: 720px;
  background-image: linear-gradient(0deg, transparent 48%, #fff 50%, transparent 52%), linear-gradient(90deg, transparent 48%, #fff 50%, transparent 52%);
  background-size: 50px 50px;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
}

.header-col {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-col p {
  background-color: #aaa;
  color: #fff;
  font-size: 40px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #fff;
}
/* End header styles */

/* puzzle / tile area */

.puzzle-bg {
  background-color: #aaa;
  border: 2px solid #fff;
  height: 100px;
}

.tile-cont {
  margin-top: 5px;
  visibility: hidden;
  height: 56px;
  border: 2px solid #fff;
  background-color: #aaa;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tile {
  height: 40px;
  width: 40px;
  color: #fff;
  background-color: #00f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.puzzle-letter-box {
  height: 50px;
  width: 50px;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.puzzle-box-blue {
  background-color: #427df4;
}

.puzzle-box-pink {
  background-color: #f771b0;
}


/* end puzzle/tile area, begin player row */

.player-row {
  margin-top: 5px;
  height: 200px;
}

.player-background {
  background-color: #aaa;
  border: 1px solid #fff;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.player-background p {
  margin: 0;
}

.player-name {
  background-color: #7986b9;
  border: 2px solid #fff;
  color: #fff;
  height: 30px;
  width: 30%;

  font-size: 12px;
}

.player-score {
  background-color: #7986b9;
  border: 2px solid #fff;
  color: #fff;
  height: 50px;
  width: 60%;
  font-size: 24px;

}

.letter-box {
  width: 40%;
  height: 50px;
  background-color: #7986b9;
  border: 2px solid #fff;
}

.middle-top {
  height: 100px;
}

.tilebank-box {
  color: #fff;
  font-size: 2em;

}

.round {
  background-color: #aaa;
  border: 2px solid #fff;
  padding: 10px
}

.stoppers {
  width: 75%;
  background-color: #aaa;
  border: 2px solid #fff;
  height: 80px;
}

.stopper {
  width: calc(100%/3);
  height: 30px;
  background-color: #ff0000;
  border: 1px solid black;
  float: left;
}

.middle-bot {
  height: 100px;
}

/*Console Styles */

.console-background {
  background-color: #000;
  color: #33ff33;
  font-family: monospace;
  height: 213px;
  border: 2px solid #fff;
}

.continue-button {
  background-color: #000;
  border: 2px solid #ff0000;
  padding: 5px;
}

.letter-button-padding {
  padding: 25px;
}

/* off screen styles */

.tile-check {
  height: 400px;
  width: 400px;
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-350%, -50%);
  transform-origin: center;
  -webkit-transform-style: preserve-3d;
  transition: 0.5s all;
  visibility: hidden;
}

.front, .back {
position: absolute;
display: flex;
justify-content: center;
align-items: center;
height: 400px;
width: 400px;
color: #fff;
font-size: 8em;
-webkit-backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  background-color: green;
  font-size: 6em;
}

.back-wrong {
  background-color: red;
}

.tile-check-animation {
  animation-duration: 2s;
  animation-name: tile-check-animation;
  animation-fill-mode: forwards;
}

@keyframes tile-check-animation {
  25% {transform: translate(-50%, -50%);}
  50% {transform: translate(-50%, -50%);}
  100% {transform: translate(-50%, -50%) rotatey(180deg);}
}
